body {
	background: #E6EDF6;
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	padding-top: 5em;
	font-size: 14px;
}

h1 {
	margin: 30px auto 20px;
	color: #333333;
}

h2 {
	font-size: 2.2em;
	margin: .3em 0 .8em 0;
}

h3 {
	margin: 0 .2em .8em 0;
	font-size: 1.3em;
}

img {
	border: none;
}

#punch-line {
	margin: 0 0 .4em 0;
	font-size: 2.7em;
}

.requirements {
	font-size: 1.5em;
	margin-bottom: 1.3em;
}

#logo {
	display: block;
	margin: 1em auto 0 auto;
	width: 274px;
	height: 70px;
	background: url('logo.png') center center no-repeat;
}

#logo span {
	position: absolute;
	top: -1000px;
}

#content {
	border-top: solid 1px #bce8f1;
	width: 100%;
	background: white;
	padding: 1.3em 0 2em 0;
	margin-top: 2em;
}

#usedby img {
	padding: .5em 0;
}

#themes img {
	width: 100%;
}

#download pre {
	font-size: 1.1em;
	line-height: 1.7em;
}

#features ul, #features ul li {
	list-style-type: none;
	line-height: 2em;
}
